



<div style="font-size: 20px;">Signup</div>

<div>
  
  <!-- <input type="button" value="start click" ng-click="start()"> 
  <input type="button" value="stop click" ng-click="stop()">  -->
  <button  (click)="connect()">connect</button>
  <button  (click)="disconnect()">disconnect</button>
  <!-- <form [formGroup]="commForm"> -->
  Enter peer ID: <input type="text" id="peerid" >
  Enter Message: <input type="text" id="message" >
  <button 
  (click)="send()">Send
</button>
<!-- </form> -->
</div>